<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title sec:authentication="name">个人中心</title> <!-- 获得当前用户的用户名 -->
</head>
<body>


<div sec:authorize="isAnonymous()">
    未登录，点击 <a th:href="@{/login}">登录</a>
</div>
<div sec:authorize="isAuthenticated()">
    <p>已登录</p>
    <p>登录名：<span sec:authentication="name"></span></p>
    <p>角色：<span sec:authentication="principal.authorities"></span></p>
    <p>Username：<span sec:authentication="principal.username"></span></p>
    <p>Password：<span sec:authentication="principal.password"></span></p>

    <p>拥有的角色：
        <span sec:authorize="hasRole('ROLE_ROOT')">超级管理员</span>
        <span sec:authorize="hasRole('ROLE_ADMIN')">管理员</span>
        <span sec:authorize="hasRole('ROLE_USER')">用户</span>
    </p>
</div>
<div th:replace="~{fragments/header::logout_button}"></div>

</body>
</html>